@import "tailwindcss";
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,700&display=swap");

img[src$=".svg"] {
  width: 100%;
  height: 100%;
  display: block;
}

:root {
  --background: #1d1d1d;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
}
